    <!DOCTYPE html>
    <html>
    <head>
    <style>
    p {
      color: green;
      text-align: center;
    }
    </style>
    </head>
    <body>
    <p>This is a green, centered paragraph.</p>
    </body>
    </html>
